<div class="dashboard-content">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-card class="dashboard-card" *ngIf="showOperatorsCard">
            <mat-card-header>
                <mat-card-title>Gerenciar Operadores</mat-card-title>
                <mat-card-subtitle>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem non ad, animi consectetur, quo veritatis commodi alias unde tenetur eius asperiores dolorum perspiciatis, incidunt quidem beatae consequuntur ipsum. Debitis, eius?</mat-card-subtitle>
              </mat-card-header>
              <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/operators">Gerenciar</button>
              </mat-card-actions>
        </mat-card>
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title>Gerenciar Pessoas</mat-card-title>
                <mat-card-subtitle>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem non ad, animi consectetur, quo veritatis commodi alias unde tenetur eius asperiores dolorum perspiciatis, incidunt quidem beatae consequuntur ipsum. Debitis, eius?</mat-card-subtitle>
              </mat-card-header>
              <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/persons">Gerenciar</button>
              </mat-card-actions>
        </mat-card>
    </div>
    
</div>
